body {
    margin: 0;
    background: #0DAB76;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
    font:600 16px/18px 'Open Sans',sans-serif;
}

.container {
    background: #3D5A80;
    height: 80vh;
    width: 60vw;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.1875rem;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.55);
}

